<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8">
    <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
        <% @post = @posts.shift %>
      <time datetime="2020-03-16" class="block text-sm/6 text-gray-600"><%= @post.created_at.strftime("%b-%d-%Y")%></time>
      <h2 id="featured-post" class="mt-4 text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl"><%= @post.title %></h2>
      <p class="mt-4 text-lg/8 text-gray-600"><%= truncate(@post.content.to_plain_text, length: 120) %>...</p>
      <div class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col">
        <div class="flex">
          <a href="/posts/<%= @post.id %>" class="text-sm/6 font-semibold text-indigo-600" aria-describedby="featured-post">Continue reading <span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="flex lg:border-t lg:border-gray-900/10 lg:pt-8">
          <a href="/posts/<%= @post.id %>" class="flex gap-x-2.5 text-sm/6 font-semibold text-gray-900">
            <%= @post.name %>
          </a>
        </div>
      </div>
    </article>
    <div class="mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0">
      <div class="-my-12 divide-y divide-gray-900/10">
        <% @posts.each do |post| %>
        <article class="py-12">
          <div class="group relative max-w-xl">
            <time datetime="2020-03-16" class="block text-sm/6 text-gray-600"><%= @post.created_at.strftime("%b-%d-%Y")%></time>
            <h2 class="mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600">
              <a href="/posts/<%= @post.id %>">
                <span class="absolute inset-0"></span>
                <%= post.title %>
              </a>
            </h2>
            <p class="mt-4 text-sm/6 text-gray-600"><%= truncate(@post.content.to_plain_text, length: 120) %>...</p>
          </div>
          <div class="mt-4 flex">
            <a href="/posts/<%= @post.id %>" class="relative flex gap-x-2.5 text-sm/6 font-semibold text-gray-900">
                <%= @post.name %>
            </a>
          </div>
        </article>
        <% end %>
        <!-- More posts... -->
      </div>
    </div>
  </div>
</div>


