<div id="<%= dom_id post %>">
  <h1 class="my-5 text-2">
    <%= post.title %>
  </h1>

  <p class="my-5">
    <%= post.content %>
  </p>

  <p class="my-5">
    Author: <%= post.name %> | Published: <%= post.created_at.strftime("%b-%d-%Y") %>
  </p>

</div>
