<div id="<%= dom_id post %>" class="bg-white shadow-lg rounded-lg p-6 mb-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Title -->
    <h1 class="text-3xl font-bold text-gray-800 my-2">
      <%= post.title %>
    </h1>
    
    <!-- Author and Date -->
    <div class="flex items-center space-x-3 text-gray-600">
      <%= image_tag 'tom.jpg', alt: t('blog_section.founder_alt'), class: "h-10 w-10 rounded-full bg-gray-200" %>
      <div>
        <span class="font-semibold"><%= post.name %></span>
        <p class="text-sm"><%= post.created_at.strftime("%b %d, %Y") %></p>
      </div>
    </div>
  </div>
  
  <!-- Content -->
  <div class="prose prose-lg max-w-none my-6 text-gray-700">
    <%= post.content %>
  </div>
</div>
