<!DOCTYPE html>
<html>
  <head>
    <title>Thomas Doyle-Engler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Thomas Doyle-Engler's portfolio - showcasing software engineering projects, MVP creation, AI builds, and rapid deployment solutions.">
    <meta name="keywords" content="Thomas Doyle-Engler, software engineer, MVP creation, AI applications, backend development, frontend development, CI/CD, rapid deployment">
    <meta name="author" content="Thomas Doyle-Engler">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Thomas Doyle-Engler">
    <meta property="og:description" content="Showcasing software engineering projects, MVP creation, AI applications, and rapid deployments.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://doyleengler.com">
    <meta property="og:image" content="https://doyleengler.com/DE.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Thomas Doyle-Engler">
    <meta name="twitter:description" content="Showcasing software engineering projects, MVP creation, AI builds, and rapid deployment solutions.">
    <meta name="twitter:image" content="https://doyleengler.com/DE.png"

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="sidebar">
      <%= render 'shared/sidebar' %>
      <main class="lg:pl-72">
          <%= yield %>
          <%= render 'shared/footer' %>
      </main>
    </div>
  </body>
</html>
